body{
    background-color:gray;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container{
    background: linear-gradient(to bottom, #00ccff,#b3f0ff);
    box-shadow: 3px 3px 5px black;
}
.container h1{
    text-align: center;
    color: rgb(100,255,165);
    text-shadow: 2px 2px 5px black;
}
.container h2{
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 3px black;
}
.box{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    padding: 3px;
}

ul li{
    color: white;
    font-size: 20px;
}

ul >li{
    color: chocolate;
}

body > h1{
    color: white;
    font-family: 'Macondo', cursive;
    
}

body > h2{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;;
    
}

body > h3{
    color: white;
    font-family: 'Spirax', cursive;
    
}
a {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    
}